.text-box
{
    width: 90%;
    color: #cca893;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1
{
    font-size: 62px;
}

.text-box p
{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #e0590b;
}

.visit-btn
{
    display: inline-block;
    text-decoration: none;
    color: #cca893;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.visit-btn:hover
{
    border: 1px solid #e0590b;
    background: #e0590b;
    transition: 0.5s;
}

@media (max-width: 700px)
{
    .text-box h1
    {
        font-size: 20px;
    }
}